<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title> <%= title %></title>
    <style>
      /*universal*/
      body{
        background: #000000;
        color:#ffffff;
        margin: 0;
        padding: 0;
        font-family: monospace;
      }
      a{
        text-decoration: none;
        color:inherit;
      }
      /*navbar*/
      nav.Navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #222222;
      }
      nav.Navbar > a.nav-brand {
        margin-left:10vh;
      }
      div.nav-links > ul{
        display: flex;
        list-style: none;
      }
      div.nav-links > ul > li {
        margin-right: 10vh;
      }
      /*Form Style Upload / Login / Sign Up*/
      form{
        width:50%;
        height:50vh;
        margin:10vh auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

      }
      form > input , textarea {
        width:70%;
        height:5vh;
        background-color: inherit;
        border: none;
        border-bottom:1px solid white;
        color:white;
      }
      form > textarea{
        resize: none;
        height: 10vh;
      }
      
      form > input:focus , textarea:focus {
        outline: none;
        border-bottom:1px solid white;
      }
      form > div.form-button-group{
        width:100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      div.form-button-group > button.form-button{
        width:10vh;
        height:5vh;
      }

      /*index.ejs*/
      main.show-all-blogs {
        display: grid;
        grid-template-columns: repeat(1fr);
      }
      /*individual boxes*/
      main.show-all-blogs > a > div.blog-container {
        margin: 0 auto;
        width:50%;
        height: 100px;
        max-width: 100%;
        background-color: #fff;
        color: #000000;
        padding: 0 10px;
      }
      div.blog-container > .title {
        text-align: center;
        text-transform: capitalize;
        font-size: 24px;
        color: #333;
        margin-bottom: 10px;
      }
      div.blog-container > .author {
        display: block;
        text-align: center;
        font-size: 17px;
        color: #777;
      }
      div.blog-container > .body {
        font-size: 16px;
        line-height: 1.5;
        color: #555;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      /*Blog Info*/
      main.singular-blog {
        width:80%;
        margin: 0 auto;
      }
      .singular-blog > .utility-container {
        display: flex;
        align-content: center;
      }
      .singular-blog > .utility-container > .blog-title {
        text-align: center;
        display: inline-block;
        text-transform: capitalize;
        font-size:50px;
        color: #fff;
        margin-bottom: 10px;
        flex-grow: 1;
      }
      .singular-blog > .utility-container > .trash-bin-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width:30px;
        height: 30px;
        border-radius: 50%;
        color: black;
        background-color: white;
        margin-top: 8vh;
        
      }
      .singular-blog > .blog-author{
        display: block;
        text-align: center;
        font-size: 25px;
        color: #ccc;
      }
      .singular-blog > .blog-body{
        font-size: 27px;
        line-height: 1.5;
        color: #ddd;
      }
      /*Show All Users*/
      div.show-all-users {
        display: grid;
        grid-template-columns: repeat(1fr);
      }
      /*individual boxes*/
      main.show-all-users > a > div.user-container {
        margin: 0 auto;
        width:50%;
        height: 100px;
        max-width: 100%;
        background-color: #fff;
        color: #000000;
        padding: 0 10px;
      }

/* Media queries for smaller screens */
      @media screen and (max-width: 768px) {
        main.show-all-video {
          grid-template-columns: repeat(1, 1fr); /* Display 1 video in a row on smaller screens */
        }
      }
    </style>
  </head>