<nav class="Navbar">
    <h2><a href="/" class="nav-brand">Home</a></h2>
    <div class="nav-links">
        <ul>
          <li><a href="/users">Users</a></li>
        <% if (user) { %>
          <li><a href="/blog/upload">Upload</a></li>
          <li><a href="/user/<%=user._id%>">Profile</a></li>
        <% } else { %>
          <li><a href="/user/sign-up">Sign Up</a></li>
        <% } %>
          
          
          
        </ul>
    </div>
</nav>