
 <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/Navbar.ejs') %>
</body>
  <form class="login-form up-form" action="/user/login" method="POST">
    <h2>LogIn Form</h2>
    <input placeholder="Email" name="email" type="email">
    <input placeholder="Password" name="password" type="password">
    <div class="form-button-group">
      <button type="reset" class="form-button clearBtn">Clear</button>
      <button type="submit" class="form-button" >Login</button>
    </div>
  </form>
  <%- include('../partials/footer.ejs') %>